html, body {
	width: 1920px;
	height: 1080px;
	margin: 0px auto;
	overflow: hidden;
	color: #FFFFFF;
	background-color: #000000;
    font: 24px 'SamsungSVD_Latin Medium';
    pointer-events: none;
}


#loading-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	z-index: 99;
}

#loading-screen.hidden {
	display: none;
}


#splash-screen {
	background-image: url('/images/splash_screen_image.png');
	width: 1920px;
	height: 1080px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


#collections-screen {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#collections-screen.hidden {
	display: none;
}

#info-part {
	display: flex;
	flex-direction: column;
	width: 45%;
	height: 100%;
}

#screenshot-part {
	display: flex;
	flex-direction: column;
	width: 55%;
	height: 100%;
	background-size: 100% 100%;
	box-shadow: 10px -10px 50px 10px black inset;
}

#logo {
	background-image: url('/images/logo.png');
	width: 165px;
	height: 165px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 40px;
}

#video-title-and-description {
	display: flex;
	flex-direction: column;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#video-title {
	height: 100px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#video-description {
	height: 220px;
	margin-left: 20px;
	margin-left: 20px;
}

#collections {
	width: 1840px;
	height: 500px;
	margin-bottom: 40px;
	overflow: hidden;
}


#playing-screen {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#playing-screen.hidden {
	display: none;
}

#wsf-video {
	width: 1920px;
  	height: 1080px;
}

#bottom-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 0;
	width: 1920px;
	height: 280px;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
}

#playing-video-title {
	font-size: 28px;
}





.half-height-screen {
	display: flex;
	width: 100%;
	height: 540px;
	margin-left: 80px;
	margin-right: 20px;
	overflow: hidden;
}

.collection-row {
	width: 1820px;
	height: 284px;
	margin-bottom: 25px;
}

.collection-row > div:first-child {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
}

.collection-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 28px 'SamsungSVD_Latin Medium';
	font-weight: bold;
	margin-bottom: 10px;
}

.video-number {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 28px 'SamsungSVD_Latin Medium';
	font-weight: bold;
	margin-right: 80px;
}

.video-list {
	display: flex;
	align-items: center;
	height: 224px;
	overflow: hidden;
}

.video-list-item {
	display: flex;
	flex-shrink: 0;
	width: 384px;
	height: 216px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.video-list-item:focus {
	outline: 0;
	border: 4px solid #61D2DF;
}

.hidden {
	display: none;
}

.animated-loading-dot {
	width: 2rem;
	height: 2rem;
	background: rgba(230, 230, 230, 0.85);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 1rem);
	top: calc(50% - 1rem);
	box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.animated-loading-dot-2 {
	-webkit-animation: animate-to-2 1.5s infinite;
	animation: animate-to-2 1.5s infinite;
}

.animated-loading-dot-3 {
	-webkit-animation: animate-to-3 1.5s infinite;
	animation: animate-to-3 1.5s infinite;
}

.animated-loading-dot-1 {
	-webkit-animation: animate-to-1 1.5s infinite;
	animation: animate-to-1 1.5s infinite;
}

.animated-loading-dot-4 {
	-webkit-animation: animate-to-4 1.5s infinite;
	animation: animate-to-4 1.5s infinite;
}

.animated-loading-dot-0 {
	-webkit-animation: animate-to-0 1.5s infinite;
	animation: animate-to-0 1.5s infinite;
}

.animated-loading-dot-5 {
	-webkit-animation: animate-to-5 1.5s infinite;
	animation: animate-to-5 1.5s infinite;
}


@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@-webkit-keyframes animate-to-2 {
  25%, 75% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-2 {
  25%, 75% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-3 {
  25%, 75% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-3 {
  25%, 75% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-1 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }
  50%, 75% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-1 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }
  50%, 75% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-4 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }
  50%, 75% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-4 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }
  50%, 75% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-0 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(-7.5rem) scale(0.5);
            transform: translateX(-7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-0 {
  25% {
    -webkit-transform: translateX(-1.5rem) scale(0.75);
            transform: translateX(-1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(-4.5rem) scale(0.6);
            transform: translateX(-4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(-7.5rem) scale(0.5);
            transform: translateX(-7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@-webkit-keyframes animate-to-5 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(7.5rem) scale(0.5);
            transform: translateX(7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}
@keyframes animate-to-5 {
  25% {
    -webkit-transform: translateX(1.5rem) scale(0.75);
            transform: translateX(1.5rem) scale(0.75);
  }
  50% {
    -webkit-transform: translateX(4.5rem) scale(0.6);
            transform: translateX(4.5rem) scale(0.6);
  }
  75% {
    -webkit-transform: translateX(7.5rem) scale(0.5);
            transform: translateX(7.5rem) scale(0.5);
  }
  95% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
  }
}


