html, body {
	width: 1920px;
	height: 1080px;
	margin: 0px auto;
	overflow: hidden;
	color: #FFFFFF;
	background-color: #21041d;
    font: 28px 'SamsungSVD_Latin Medium';
    pointer-events: none;
}


#splash-screen {
	background-image: url('/images/splash_fhd.jpg');
	width: 1920px;
	height: 1080px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}




.hidden {
	display: none;
}