html, body {
	width: 1920px;
	height: 1080px;
	margin: 0px auto;
	overflow: hidden;
	color: #FFFFFF;
	background-color: #21041d;
    font: 24px 'SamsungSVD_Latin Medium';
    pointer-events: none;
}


#splash-screen {
	background-image: url('/images/splash_fhd.jpg');
	width: 1920px;
	height: 1080px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


#collections-screen {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#collections-screen.hidden {
	display: none;
}

#logo {
	background-image: url('/images/overhangLogo.png');
	width: 165px;
	height: 60px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 40px;
}

#video-title-and-description {
	display: flex;
	flex-direction: column;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#video-title {
	height: 100px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#video-description {
	height: 220px;
	margin-left: 20px;
	margin-left: 20px;
}

#collections {
	width: 1840px;
	height: 500px;
	margin-bottom: 40px;
	overflow: hidden;
}





.half-height-screen {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 540px;
	margin-left: 80px;
	margin-right: 20px;
	overflow: hidden;
}

.collection-row {
	width: 1820px;
	height: 284px;
	margin-bottom: 25px;
}

.collection-row > div:first-child {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
}

.collection-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 28px 'SamsungSVD_Latin Medium';
	font-weight: bold;
	margin-bottom: 10px;
}

.video-number {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 28px 'SamsungSVD_Latin Medium';
	font-weight: bold;
	margin-right: 80px;
}

.video-list {
	display: flex;
	align-items: center;
	height: 224px;
	overflow: hidden;
}

.video-list-item {
	display: flex;
	flex-shrink: 0;
	width: 384px;
	height: 216px;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid wheat;
	box-sizing: border-box;
}

.video-list-item:focus {
	outline: 0;
	border: 2px solid red;
}

.hidden {
	display: none;
}